h2{
  text-align: center;
}

form{
  width: 400px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form *{
  height: 30px;
}

.error-message {
  width: 350px;
  margin: 20px auto;
  padding: 5px;
  background-color: #da8989;
  color: white;
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}