h2{
  text-align: center;
}

form{
  width: 400px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form *{
  height: 30px;
}

.error-message {
  width: 350px;
  margin: 20px auto;
  padding: 5px;
  background-color: #da8989;
  color: white;
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

#truth-table{
  margin: 10px 10%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#truth-table .row__head{
  flex: 2;
  background-color: #646464;
  color: white;
}

#truth-table .row__content{
  flex: 1;
}

#truth-table .row{
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid lightgray;
}